@media screen and (min-width: 700px) {
	main {
		margin: 0 auto;
		width: 700px;
	}
}
@media screen and (max-width: 700px) {
	main {
		margin: 0;
		width: 100%;
	}
}
*, *::before, *::after { box-sizing: border-box; }
html {height:100%;padding:0;}
body {height:100%;margin:0; font-size:16px; font-family:sans-serif;}
main {padding:1rem;height:100%;}
main > form {margin-bottom:1rem;}
textarea {font-size:15px;}
.upload-text-form {height:90%;}
.upload-text-form textarea {width:100%;height:90%;}

.wikilink_new {color:#a55858;}
.wikilink_external::after {content:"🌐"; margin-left: .5rem; font-size: small; text-decoration: none; align: bottom;}
.codeblock {background-color:#eee; padding:.5rem; font-size:16px;}
.transclusion {background-color:#eee; padding:0 0 0 1.5rem;}
.transclusion__link {display: block; position: absolute; transform-origin: 0 0; transform: rotate(90deg); margin-top: 0.5rem; color: black; text-decoration: none;}

.binary-container_with-img img,
.binary-container_with-video video,
.binary-container_with-audio audio {width: 100%}
.navi-title a {text-decoration:none;}
@media screen and (min-width: 400px) {
	nav ul {display:flex;padding-left:0;}
	nav ul li {list-style-type:none;margin-right:1rem;}
}
